<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" th:fragment="navFragment">
  <a class="navbar-brand" href="/">Nutritional Information</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/all">All Cereal</a>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cereals By Manufacturer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/kellogs">Kellog's</a>
          <a class="dropdown-item" href="/nestle">Nestle</a>
          <a class="dropdown-item" href="/sainsburys">Sainsbury's</a>
          <a class="dropdown-item" href="/weetabix">Weetabix</a>
          <a class="dropdown-item" href="/honeyM">Honey Monster Foods</a>
          <a class="dropdown-item" href="/quaker">Quaker</a>
          <a class="dropdown-item" href="/tesco">Tesco</a>
          <a class="dropdown-item" href="/jordans">Jordan's</a>
          <a class="dropdown-item" href="/asda">Asda</a>
         
        </div>
      </li>
    </ul>
    <form action="/searchCereal" method="post" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" name="cereal" placeholder="Search By Cereal Name">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
