<!Doctype HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet" href="../static/css/styles.css" />
<title th:text="${pageTitle}"> Shrek or Rocket</title>
<!-- Import -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Gloria+Hallelujah|Indie+Flower|Sedgwick+Ave" rel="stylesheet" />
</head>
<body>
<nav th:replace="layouts/nav :: navFragment"></nav>
<!-- th:each="newRocket: ${rockets}" -->
<div class="container-fluid">
<div class="row" style="padding:40px;">
<div class="card" style="width: 18rem; margin-right:25px; " th:each="newRocket: ${rockets}">
  <img class="card-img-top" src="../static/img/soyuz.jpg" style="height: 400px; width: 100%;" th:src="@{/img/}+${newRocket.image}" alt="Rocket Image">
  <div class="card-body">
    <h5 class="card-title" th:text="${newRocket.name}">Soyuz</h5>
    <p class="card-text" th:text="${newRocket.creator}">Creators</p>
  
  </div>
  
</div>
</div><!-- End of Card -->

<p> Launch From!</p>
  <p th:utext="${LocationFrame}">Location</p>
</div><!-- End of Container -->
</body>
</html>