<html>
<head>
<link rel="stylesheet" href="css/styles.css"/>
<link href="https://fonts.googleapis.com/css?family=Cormorant+Infant|Fanwood+Text|Great+Vibes" rel="stylesheet"/>
</head>
<body>
<!-- Beginning Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navFragment">
  <a class="navbar-brand" style ="font-family: 'Sedgwick Ave', cursive;" href="/">Shrek or Rocket?</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavBarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="NavBarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Explain Yourself! <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="shrek">Shrek</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="rockets">Rocket</a>
      </li>
    </ul>
  </div>
</nav>
</body>
</html>
