<!Doctype HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
<link rel="stylesheet" href="css/styles.css" />
</head>
<body>
<div class="alert alert-success" role="alert" th:if="${message}">
<p th:text="${message}" style="strong; font-size 20;"></p>
</div>
<nav th:replace="layouts/resources :: navFragment"></nav>
<div class="container-fluid">

<table class = "table striped">
<thead>
	<th>Manufacturer</th>
	<th>Cereal</th>
	<th>Energy (kJ)</th>
	<th>Energy (kCal)</th>
	<th>Protein (g)</th>
	<th>Carbohydrate (g)</th>
	<th>Sugars (g)</th>
	<th>Fat (g)</th>
	<th>Saturated Fat (g)</th>
	<th>Fibre (g)</th>
	<th>Sodium (g)</th>
	<th>Salt (g)</th>
	<th>Iron (mg)</th>
 </thead> 
<tbody>
<tr th:each="cereal: ${cereal}">
<td th:text="${cereal.manufacturer}">Manufacturer</td>
<td th:text="${cereal.cereal}">Cereal Name</td>
<td th:text="${cereal.energyKj}">Energy</td>
<td th:text="${cereal.energyKcal}">Energy</td>
<td th:text="${cereal.protein}">Protein</td>
<td th:text="${cereal.carbohydrate}">Carbs</td>
<td th:text="${cereal.sugar}">Sugar</td>
<td th:text="${cereal.fat}">Fat</td>
<td th:text="${cereal.saturates}">Saturates</td>
<td th:text="${cereal.fibre}">Fibre</td>
<td th:text="${cereal.sodium}">Sodium</td>
<td th:text="${cereal.salt}">Salt</td>
<td th:text="${cereal.iron}">Iron</td>
</tbody>
</table>

</div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>