<!Doctype HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<title th:text="${pageTitle}"> Disney's Dwarfs</title>
<!-- Import -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>

<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/styles.css" />
<link href="https://fonts.googleapis.com/css?family=Cormorant+Infant|Fanwood+Text|Great+Vibes" rel="stylesheet" />
</head>
<body>
<nav th:replace="layouts/nav :: navFragment"></nav>
<div class="Container darkContainer">
<!-- JumboTron -->
<div class="jumbotron">
  <h1 class="display-4">Dwarfs be here...</h1>
  <p class="lead">Those of Disney are known as Dwarfs</p>
  <hr class="my-4">
  <p>The members lie below</p>
  <a class="btn btn-primary btn-lg" href="/disney" role="button">Disney</a>
  <a class="btn btn-primary btn-lg" href="/tolkien" role="button">Tolkien</a>
</div>
<!-- End Jumbo -->

<!-- Table -->

<table class = "table striped">
<thead>
	<th>Name</th>
	<th>Author</th>
	<th>Image</th>
 </thead> 
<tbody>
<tr th:each="dwarf: ${disneyDwarfs}">
<td th:text="${dwarf.name}">Happy</td>
<td th:text="${dwarf.author}">Disney</td>
<td> <img src="..static/image/happy.png" th:src="@{/image/}+${dwarf.image}"></td>
</tr>
</tbody>
</table>
</div><!-- End of Dark Container -->
</body>

<!-- Import Bootstrap Componenets -->
<script src="js/jquery.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</html>