<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" th:fragment="navFragment">
  <a class="navbar-brand" href="/">H.M.S. Titanic Records</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/all">All Passengers</a>
      </li>
    </ul>
    <form action="/searchName" method="post" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" name="name" placeholder="Search By Name">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
