<!Doctype HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<title> Home</title>
<!-- Import -->
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<link rel="stylesheet" href="css/styles.css"/>
<link href="https://fonts.googleapis.com/css?family=Cormorant+Infant|Fanwood+Text|Great+Vibes" rel="stylesheet"/>
</head>
<body>
<nav th:replace="layouts/nav :: navFragment"></nav>
<center><img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Two_V%C3%B6lusp%C3%A1_Dwarves_by_Fr%C3%B8lich.jpg"></center>
<div class="Container darkContainer">
<br>
<!-- JumboTron -->
<div class="jumbotron">
  <h1 class="display-4">Dwarfs & Dwarves</h1>
  <p class="lead">An answer to the age old question: Is it a dwarf or a dwarve?</p>
  <hr class="my-4">
  <p>Find out all sorts about them.</p>
  <a class="btn btn-primary btn-lg" href="/disney" role="button">Disney</a>
  <a class="btn btn-primary btn-lg" href="/tolkien" role="button">Tolkien</a>
</div>
<!-- End Jumbo -->

 <!-- Search Field --> 
<form action="/searchid" method="post">
    <label>DwarfId</label>
    <input type="text" name="id"></input>
    <input type="submit" value="Search"></input>
</form>
 <!-- End of Search -->
  <!-- Search Field --> 
<form action="/searchname" method="post">
    <label>Name</label>
    <input type="text" name="name"></input>
    <input type="submit" value="Search"></input>
</form>
 <!-- End of Search -->
 
 <!-- Search Field --> 
<form action="/searchauthor" method="post">
    <label>Author</label>
    <input type="text" name="author"></input>
    <input type="submit" value="Search"></input>
</form>

<form action="/searchnameauthor" method="post">
    <label>Name</label>
    <input type="text" name="name"></input> 
     <label>Author</label>
    <input type="text" name="author"></input>
    <input type="submit" value="Search"></input>
</form>
 <!-- End of Search -->

 
 
</div><!-- End of Dark Container -->
</body>
<!-- Import Bootstrap Componenets -->
<script src="js/jquery.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</html>